<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="layout" value="--------${level} (${date:format=dd-MM-yyyy HH\:mm\:ss})------${newline}
          ${newline}
          Call Site: ${callsite}${newline}${newline}
          Exception Type: ${exception:format=Type}${newline}${newline}
          Exception Message: ${exception:format=Message}${newline}${newline}
          Stack Trace: ${exception:format=StackTrace}${newline}${newline}
          Additional Info: ${message}${newline}"/>
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Writing events to the a file with the date in the filename. 
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${logDirectory}/asyncFile.txt" />
    </target>
    <target xsi:type="Mail"
      name="logEmail"
      layout="${layout}"
      html="true"
      addNewLines="true"
      replaceNewlineWithBrTagInHtml="true"
      encoding="UTF-8"
      subject="Layout-subject"
      to="tito66lapa@gmail.com"
      bcc="tito66lapa@gmail.com"
      cc="tito66lapa@gmail.com"
      from="tito66lapa@gmail.com"
      smtpUserName="tito66lapa@gmail.com"
      enableSsl="true"
      smtpPassword="tito66lapa"
      smtpAuthentication="Basic"
      smtpServer="smtp.gmail.com"
      smtpPort="587"
      useSystemNetMailSettings="false"
      timeout="10000" />

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Info" writeTo="logEmail" />
    <logger name="*" minlevel="Info" writeTo="asyncFile" />

  </rules>
</nlog>